/*!CK:3004524998!*//*1379427290,173217085*/

.pluginFaviconButton{display:inline-block;background-color:#5f78ab;color:#fff;cursor:pointer;vertical-align:top}
.gecko .pluginFaviconButton:focus{outline:1px dotted highlight}
.pluginFaviconButtonEnabled:active{background-color:#4f6aa3}
.pluginFaviconButtonIcon, .pluginFaviconButtonIconActive, .pluginFaviconButtonIconThrobber, .pluginFaviconButtonIconThrobber .img, .pluginFaviconButtonIconDisabled{vertical-align:top}
.pluginFaviconButton:active .pluginFaviconButtonIcon, .pluginFaviconButtonEnabled .pluginFaviconButtonIconActive, form.async_saving .pluginFaviconButtonIcon, form.async_saving .pluginFaviconButton:active .pluginFaviconButtonIconActive, .pluginFaviconButtonIconThrobber{display:none}
.pluginFaviconButtonEnabled:active .pluginFaviconButtonIconActive, form.async_saving .pluginFaviconButtonIconThrobber{display:inline-block}
.pluginFaviconButtonBorder, form.async_saving .pluginFaviconButtonBorder:active{display:inline-block;border-top:1px solid #29447e;border-right:1px solid #29447e;border-bottom:1px solid #1a356e}
.pluginFaviconButtonBorder:active{border-color:#34437d}
.pluginFaviconButtonText, form.async_saving .pluginFaviconButtonEnabled:active .pluginFaviconButtonText{display:inline-block;border-top:1px solid #879ac0;white-space:nowrap}
.pluginFaviconButtonEnabled:active .pluginFaviconButtonText{border-top-color:#50609c}
.pluginFaviconButtonSmall .pluginFaviconButtonText{font-size:10px;line-height:10px;padding:2px 6px 3px}
.pluginFaviconButtonMedium .pluginFaviconButtonText{font-size:11px;line-height:14px;padding:2px 6px 3px}
.pluginFaviconButtonLarge .pluginFaviconButtonText{font-size:13px;line-height:16px;padding:3px 6px 3px}
.pluginFaviconButtonXlarge .pluginFaviconButtonText{font-size:24px;line-height:30px;padding:3px 8px 3px}
.pluginFaviconButtonIconDisabled{display:inline-block}
form.async_saving .pluginFaviconButton, .pluginFaviconButtonDisabled{background-color:#798eb9;cursor:default}
.pluginFaviconButtonIconThrobber{border-right:1px solid #405b91;border-top:1px solid #29447e;border-left:1px solid #29447e;border-bottom:1px solid #1a356e}
.pluginFaviconButtonIconThrobber .img{border-top:1px solid #879ac0}
.pluginFaviconButton.pluginFaviconButtonBlue{background:#4c69ba;background:-moz-linear-gradient(#4c69ba, #3b55a0);border-color:#4c69ba;border-radius:2px;color:#fff;font-family:"Helvetica neue";text-shadow:0 -1px 0 #354c8c}
.pluginFaviconButton.pluginFaviconButtonBlue:hover{background:-moz-linear-gradient(#5b7bd5, #4864b1);border-bottom-color:#41599f;border-left-color:#4961a8;border-right-color:#4961a8;border-top-color:#5874c3;box-shadow:inset 0 1px 0 #607fd6;cursor:pointer}
.pluginFaviconButton.pluginFaviconButtonBlue .pluginButtonIconWrapper{overflow:none;white-space:nowrap}
.pluginFaviconButton.pluginFaviconButtonBlue .pluginFaviconButtonIcon{float:left}
.pluginFaviconButtonBlue .pluginFaviconButtonIconThrobber .img, .pluginFaviconButtonBlue .pluginFaviconButtonIconThrobber, .pluginFaviconButtonBlue .pluginFaviconButtonText{border:none;padding-top:3px}
form.async_saving .pluginFaviconButtonBlue .pluginFaviconButtonBorder, form.async_saving .pluginFaviconButtonBlue .pluginFaviconButtonBorder:active, .pluginFaviconButtonBlue .pluginFaviconButtonBorder, .pluginFaviconButtonBlue .pluginFaviconButtonBorder:active{border:none}
.pluginFaviconButtonBlue:active.pluginFaviconButton:active .pluginFaviconButtonIcon{display:block}
form.async_saving .pluginFaviconButtonBlue:active.pluginFaviconButton:active .pluginFaviconButtonIcon{display:none}
.pluginFaviconButtonBlue.pluginFaviconButtonSmall .pluginFaviconButtonIcon{height:14px;margin:2px 0 2px 3px;width:14px}
.pluginFaviconButtonBlue.pluginFaviconButtonMedium .pluginFaviconButtonIcon{height:16px;margin:3px 0 3px 3px;width:16px}
.pluginFaviconButtonBlue.pluginFaviconButtonLarge .pluginFaviconButtonIcon{height:20px;margin:3px 0 4px 3px;width:20px}
.pluginFaviconButtonBlue.pluginFaviconButtonXlarge .pluginFaviconButtonIcon{height:31px;margin:4px 0 4px 4px;width:31px}
.sp_481849{background-image:url(/rsrc.php/v2/yd/r/zgJOcogcWEU.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:22px;width:22px}
.sx_2d6b53{background-position:-0px -0px}
.sx_23203e{background-position:-0px -23px}
.sp_4wb8zp{background-image:url(/rsrc.php/v2/yZ/r/eLPrNJEz5UY.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:25px;width:25px}
.sx_049e91{background-position:-0px -0px}
.sx_c36ecc{background-position:-0px -26px}
.sp_ah8s7h{background-image:url(/rsrc.php/v2/yv/r/jgYrpByDkID.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}
.sx_879424{background-position:-0px -0px}
.sx_73bd62{background-position:-0px -19px}
.sp_login-button{background-image:url(/rsrc.php/v2/yx/r/j_i0CTUUUEe.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:39px;width:39px}
.sx_login-button_small{width:18px;height:18px;background-position:0 -178px}
.sx_login-button_smalla{width:18px;height:18px;background-position:-19px -178px}
.sx_login-button_medium{width:22px;height:22px;background-position:0 -132px}
.sx_login-button_mediuma{width:22px;height:22px;background-position:0 -155px}
.sx_login-button_large{width:25px;height:25px;background-position:0 -80px}
.sx_login-button_largea{width:25px;height:25px;background-position:0 -106px}
.sx_login-button_xlarge{background-position:0 0}
.sx_login-button_xlargea{background-position:0 -40px}

#bootloader_6bkq_ { height: 42px; }
.bootloader_6bkq_ { display:block !important; }