/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles at the end of this file instead 
of style.css so it is easier to update the theme. 
Simply copy an existing style from style.css to this file, 
and modify it to your liking.
*/

@media print
{
h2 {page-break-before:always}

table,
li,
.woo-sc-box 
{page-break-inside:avoid}


body {
	background-color: #ffffff !important;
}

#main {
border:none !important;
background-color: #FFFFFF !important;
}

.page-break {page-break-before:always}

#wrapper,
#inner-wrapper,
#content
{
	border-top:0px solid !important;
	border-right:0px solid !important;
	border-bottom:0px solid !important;
	border-left:0px solid !important;
	box-shadow:0px solid !important;
	box-sizing:border-box 0px solid;
}

#navigation,
#top,
#header,
#pdf-viewer,
#comments,
#respond,
#footer
{visibility:hidden}

}