/*!CK:568342476!*//*1379396863,173203235*/

._530d{background-color:#f7f7f7;border:1px solid #e3e3e3;display:inline-block;max-width:376px}
._530e{float:left}
._530f{display:inline-block;margin:8px}
._530g{color:#3b5998;font-weight:bold}
._530h{color:#898f9c}
.pluginShareButton{display:inline-block}
.pluginShareButtonLink{display:inline-block}

#bootloader_iS7n8 { height: 42px; }
.bootloader_iS7n8 { display:block !important; }